.profile {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
  max-width: 282px;
  margin: 0 auto 36px;
}
  
@media screen and (min-width: 619px){
  .profile{
    flex-direction: row;
    max-width: 880px;
    margin-left: 19px;
    margin-right: 19px;
    align-items: center;
    margin-bottom: 51px;
  }
}
  
  
@media screen and (min-width: 918px){
  .profile{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}